.App {
  text-align: center;
}

.App-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-body-info {
  margin-left: 40px;
}

.App-body-info > button {
  width: 300px;
  height: 50px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: #083D77;
  color: #F6D8AE;
}

.App-body-info > button:hover {
  cursor: pointer;
}