.classifier {
    text-align: center;
}
  
.classifier-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
  .classifier-body-info {
    margin-left: 40px;
  }
  
  .main-button {
    width: 300px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #083D77;
    color: #F6D8AE;
  }
  
  .main-button {
    cursor: pointer;
  }